
<div class="container">

  <h3 class="d-flex justify-content-center">Welcome User!!</h3>
  <h5 class="d-flex justify-content-center">Supplier Management Portal</h5>
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button routerLink="suppliercategory"
          class="m-1 btn btn-light btn-outline-primary" Button>Supplier Categories</button>
      </li>
      <li class="nav-item">
        <button routerLink="suppliercountry"
        class="m-1 btn btn-light btn-outline-primary" Button>Supplier Countries</button>
    </li>

      <li class="nav-item">
          <button routerLink="supplier"
          class="m-1 btn btn-light btn-outline-primary" Button>Suppliers</button>
      </li>
  </ul>
  </nav>

</div>
<router-outlet></router-outlet>


